.wrap {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.character-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.character-item {
  max-width: 20%;
  flex-basis: 20%;
  border: 1px solid black;
}


.character-item__wrapper{

}

.character-item__name {}